<form id="boilerForm" class="row">
  <div class="col-sm-4">
    <label class="form-label">Boiler Button: </label>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" onclick="handlePressBoiler('boilerJsonResult')">
      Boiler Press!
    </button>
  </div>
  <code id="boilerJsonResult"></code>
</form>
<hr />