<form id="webCamForm" class="row">
    <div class="col-sm-4">
        <label class="form-label">Web Cam Image: </label>
        <a href="/public/images" class="link-primary">View Images</a>
    </div>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Image Get!</button>
    </div>
    <div class="col-sm-4"></div>
    <div id="webCamJsonResult"></div>
    <div id="loading"></div>
</form>
<hr />