#userstories {
  margin-left: 5%;
  margin-top: 5%;
}

.p-50 {
  margin: 50px;
}

#testui {
  margin-left: 5%;
}

.text-align-left {
  text-align: left;
}

input[type='text'] {
  width: 100px;
}

.m-50 {
  margin: 50px;
}

.mt-200 {
  margin-top: 200px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin-left: 5%;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
